<header data-o-component="o-header" class="o-header">
  <div class="o-header__container {{o-header.container.extra-classes}}">
    <div class="o-header__primary">
      <div class="o-header__primary__left">
        {{{o-header.primary.left}}}
      </div>
      <div class="o-header__primary__right">
        {{{o-header.primary.right}}}
      </div>
    </div>
  </div>
</header>

{{{content}}}
