@import '../../../main';

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-family: HelveticaNeue, sans-serif;
}

.demo-container {
	max-width: 960px;
	margin: 0 auto;
}

.demo-content {
	color: transparent;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	text-align: justify;
}

.demo-form-group {

	label {
		vertical-align: middle;
	}
}
