@import '../../../main';

.demo-container {
	max-width: 960px;
	margin: 0 auto;
}

.demo-content {
	color: transparent;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	text-align: justify;
}

.demo-icon-menu:before {
	content: '\2630';
}

.demo-pull-right {
	// scss-lint:disable ImportantRule
	float: right !important;
}
