////
/// @group o-header
/// @link http://registry.origami.ft.com/components/o-header
////

.o-header {
	width: 100%;
	height: $o-header-height;
	background-color: $o-header-bg;
	color: $o-header-text-color;

	a {
		text-decoration: none;
		color: $o-header-link-color;
		font-size: 16px;

		&:hover,
		&:focus {
			color: $o-header-link-hover-color;
		}
	}
}

.o-header--fixed {
	position: fixed;
	top: 0;
}

// Primary container
.o-header__primary {
	position: relative;
	width: 100%;
}

// Containers within the primary container
.o-header__primary__left,
.o-header__primary__right {
	position: relative;
	height: $o-header-height;
	width: 50%;
}

.o-header__primary__left {
	float: left;
}

.o-header__primary__right {
	float: right;
}

// Collapsible container
.o-header__collapse {
	@media (max-width: $o-header-grid-float-breakpoint) {
		display: none;
	}
}
