////
/// @group o-header
/// @link https://origami.pearsoned.com/registry/components/o-header
////

.o-header {
	box-sizing: border-box;
	width: 100%;
	min-height: $o-header-height-mobile;
	z-index: $o-header-z-index;
	background-color: $o-header-bg;
	color: $o-header-text-color;
	font-size: $o-header-base-font-size;

	&::before,
	&::after {
		box-sizing: inherit;
		display: table;
		content: '';
	}

	&::after {
		clear: both;
	}

	@media (min-width: $o-header-desktop-min) {
		min-height: $o-header-height;
	}
}

.o-header--fixed {
	position: fixed;
	top: 0;
}

// Sections
.o-header__section {
	float: left;
}

.o-header__section--right {
	float: right;
}
