////
/// @group o-header
/// @link http://registry.origami.ft.com/components/o-header
////

// Default styling for header nav elements
.o-header__nav {
	float: left;
	height: $o-header-height;
}

.o-header__nav > ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
}

.o-header__nav-item {
	float: left;
	height: $o-header-height;
	border-left: solid 1px $o-header-item-border-color;
}

.o-header__nav-item > a {
	padding: $o-header-nav-link-padding;
	line-height: $o-header-height;
}

// Nav dropdown-menu
.o-header__nav-dropdown-menu > a {
	padding: $o-header-nav-link-padding;
	line-height: $o-header-height;
}
