////
/// @group o-header
/// @link http://registry.origami.ft.com/components/o-header
////

// Default styling for standard taglines
.o-header__tagline,
.o-header__tagline > img,
.o-header__tagline  a {
	display: inline-block;
	vertical-align: middle;
	padding: 0 $o-header-padding-horizontal;
}

// Always Learning tagline
.o-header__tagline--always-learning {
	display: block;
	width: 170px;
	height: 20px;
	margin-top: 14px;
	max-height: $o-header-height;
	background: url(oHeHeaderAsset('img/pearson-tagline__always-learning.png')) no-repeat;
	background-size: contain;
}
